body{
    padding:0px;
    margin:0;
    border:0;
    background-color:steelBlue;
    width:100%;
    height:100vh;
}

.banner{
    border:3px solid;
    width:100%;
    height:20%;
}

.signup{
    margin:3%;
    border:3px solid;
    float:right;
    width:20%;
    height:10%;
}

.main{
    margin:3%;
    margin-left:0%;
    width:100%;
    height:35%;
    border:3px solid;
}

.tag{
    margin:3%;
    text-align:center;
    border:3px solid;
    height:15%;
    width:20%;
    float:right;
}

